.status
  display inline-flex
  justify-content space-between
  width 50%

  &__item
    display inline-block
    width 32px
    height 32px
    background-color $status-idle
    border 2px solid $status-idle
    border-radius 50%
    transition 200ms

    &--validating
      border-top 2px solid $blue-dark
      -webkit-animation spin 2s linear infinite
      animation spin 2s linear infinite

    &--success
      border 2px solid $status-success
      background-color $status-success

    &--error
      border 2px solid $status-error
      background-color $status-error

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
