$font = 'Roboto', sans-serif
$font-size = 16px
$line-height = 20px
$nominal-left-col-width = 450px
$factual-left-col-width = 424px
$page-container-horizontal-padding = 32px

$blue-light = #b3daf7
$blue = #5b99f7
$blue-dark = #1671fb

$red-light = #FF0207
$red = #DF2029
$red-dark = #9D171E

$black-1 = #000000
$black-2 = #262626
$gray-1 = #575757
$gray-2 = #DADADA
$white = #FFFFFF

$status-idle = #f8f8f8
$status-success = #23df20
$status-error = $red

$body-background = linear-gradient(90deg, #fff1df, #b1ff77, $white);
$full-color = linear-gradient(to right, #2D9FFF, #DF2029)
