@import 'general/vars';
@import 'general/fonts';
@import 'general/base';
@import 'general/layout';
@import 'general/helpers';

@import 'components/documents';
@import 'components/btn';
@import 'components/spinner';
@import 'components/status';
